section.main .content {
.markdown {

@background-gray: #f7f7f7;

// 
// Heading
// 

h1, h2, h3, h4, h5, h6 {
    .heading();
    text-transform: none;
    margin-top: 1.75rem;
}

h1 {
    font-size: 1.75rem;
    margin-bottom: 2rem;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

h3 {
    font-size: 1rem;
    margin-bottom: 1rem;
}

h4, h5, h6 {
    font-size: 1rem;
    margin-bottom: 1rem;
    letter-spacing: none;
}

// 
// Code
// 

code, pre {
    font-family: @monospace-font-stack;
    font-size: 1rem;
    background-color: @background-gray;
}

code {
    /* enclosed by single backtick (`) */
    padding: .15em .5em;
    border-radius: 2px;
}

pre {
    /* Hugo specific: consider using the 'highlight' shortcode */
    padding: 1rem;
    line-height: 1.5em;
    white-space: pre;
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;
}

pre code {
    /* enclosed by 3 backticks (```) */
    padding: 0;
    font-size: 1rem;
}

a code {
    color: @accent !important;
    &:hover {
        text-decoration: underline;
    }
}

// 
// Body text
// 


p {
    /* Invoked by line break */
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 1em;
}


// TODO: Try out and adjust properties for selectors below

// Lists

dt {
    font-weight: bold;
}

ul li {
    list-style-type: disc;
}

ol li {
    list-style-type: decimal;
}

li {
    list-style-position: outside;
    margin-left: 1em;
}

// Miscellaneous

em {
    font-style: italic;
}

strong {
    font-weight: 700;
}

hr {
    position: relative;
    margin: 1.75rem 0;
    border: 0;
    border-top: 1px solid lighten(@gray, 10%);
    border-top: 1px solid lighten(@gray, 20%);
}

abbr {
    font-size: 0.85rem;
    font-weight: bold;
    color: lighten(@black, 20%);
    text-transform: uppercase;
}

abbr[title] {
    cursor: help;
    border-bottom: 1px dotted lighten(@gray, 10%);
}


// Quotes

blockquote {
    padding: .5rem 1rem;
    margin: .8rem 0;
    color: #7a7a7a;
    border-left: .25rem solid #e5e5e5;
}

blockquote :last-child {
    margin-bottom: 0.5rem;
}

@media (min-width: 550px) {
    blockquote {
        padding-right: 5rem;
        padding-left: 1.25rem;
    }
}

// Images and tables

img {
    margin: 1rem 0;
    max-width: 100%;
}

table {
    margin-bottom: 1rem;
    width: 100%;
    border: 1px solid #e5e5e5;
    border-collapse: collapse;
}

td,
th {
    padding: .25rem .5rem;
    border: 1px solid #e5e5e5;
}

tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
    background-color: @background-gray;
}

} // end .markdown
} // end section.main .content
